body {
  background-color: #ffffff;
}

login {
  background-color: #4caf50;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

login-txt {
  margin-top: 20px;
}

label {
  margin-top: 1em;
  font-size: 1.2em;
}

.form-groupe {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 5px;
  border: none;
  width: 376px;
  height: 35px;
  margin: 10px 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 1em;
  height: 36px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.forgot-password {
  margin-top: 0.5em;
  text-align: center;
}

.forgot-password a {
  color: #333;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

#email-error-message {
  display: none;
}

#email-error-message {
  display: block;
  color: red;
}

#email-error-message {
  display: block;
  color: red;
}
