/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: #e5e5e5;
  background-color: #ffffff;
}
img {
  width: 19.36px;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
  margin: 30px;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 30px;
  font-size: 1.2em;
}

li:hover {
  color: #000000;
  font-weight: bold;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
  padding-bottom: 20px;
}

#introduction article {
  flex: 1;
  margin-bottom: 280px;
}
#introduction h2 {
  margin-bottom: 1em;
  margin: 0;
  margin-bottom: 19px;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

button[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
.filters-container {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: 40px;
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 15px;
  border-radius: 40px;
  background-color: white;
  color: #1d6154;
  border: 2px solid #1d6154;
  padding: 0px 20px;
  font-weight: bold;
  font-size: 16px;
  height: 37px;
  font-family: "Syne";
}

button:focus {
  color: white;
}

button:focus {
  background-color: #1d6154;
}

a {
  text-decoration: none;
  color: #000000;
}

.adminBarre {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  width: 100%;
  height: 40px;
  background-color: #000000;
}

h3 {
  color: #ffffff;
  margin: 12px;
  font-family: "work sans";
}

.btn {
  font-weight: bold;
  font-size: 14px;
  border-radius: 60px;
  width: 200px;
  height: 30px;
  margin: 5px;
  border: none;
  background-color: white;
}


.modal {
  display: none; /* Masquer la fenêtre modale par défaut */
  position: fixed; /* Position fixe pour que la fenêtre reste au premier plan */
  z-index: 1; /* Mettre la fenêtre modale au-dessus de tout le reste */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Ajouter un défilement si nécessaire */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Couleur de fond semi-transparente */
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  width: 630px;
  height: 731px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.close {
  color: #aaa;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#modifier {
  font-size: 14px;
  border: none;
  background-color: #ffffff;
  padding-bottom: 20px;
  cursor: pointer;
}

.nom-modal {
  color: #000000;
  display: flex;
  justify-content: center;
  font-family: "work sans";
}
hr {
  border: 1px solid #b3b3b3;
  width: 422px;
  margin-bottom: 20px;
}

.btn-modal {
  display: flex;
  justify-content: center;
  border: none;
  width: 300px;
  height: 50px;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 60px;
  background-color: #1d6154;
  font-family: "syne";
  cursor: pointer;
}

.btn-delete {
  display: flex;
  margin: auto;
  border: none;
  color: #d65353;
  background-color: #fefefe;
  font-family: "syne";
}

h5 {
  /* font-family: ; */
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
}

.edit-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #ffffff;
  font-size: 15px;
  padding: 5px;
  border-radius:2px ;
  background-color: #000000;
}

.icon {
  color: #ffffff;
  font-size: 14px;
  padding-top: 12px;
}

.modal-gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-self: center;
  width: 422px;
  row-gap: 25px;
  margin-top: 10px;
}

.miniFigure {
  position: relative;
  width: 78px;
  height: 104px;
}

.miniImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#openModalBtn {
  background-color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(226, 9, 9, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  /* width: 80%; */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  text-align: left;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-photo-profil {
  background-color: #ffffff;
  border: none;
}

.icon-2 {
  margin-left: 70px;
}

.title_modal {
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 45px;
}

.title-ajout-photo {
  color: #306685;
  background-color: #cbd6dc;
  border-radius: 50px;
  width: 170px;
  height: 36px;
  padding-top: 15px;
}

.title-input-modal {
  width: 420px;
  box-shadow: rgba(52, 52, 52, 0.2) 0px 7px 29px 0px;
  height: 50px;
  border: none;
}

.title_input {
  margin-top: 30px;
  /* text-align: left; */
  margin: 2em 0 1em 0;
}

hr {
  background-color: #b3b3b3;
  margin-top: 50px;
}

.btn_valide {
  width: 240px;
  height: 36px;
  border-radius: 60px;
  margin-top: 40px;
  border: none;
  color: white;
  background-color: #a7a7a7;
  font-family: "syne";
  font-weight: 700;
  margin: auto;
  cursor: pointer;
}

.image-icon {
  display: flex;
  color: #b9c5cc;
  border: none;
  font-size: 60px;
  justify-content: center;
}

.modal-ajout-photo {
  width: 230px;
  height: 36px;
  border-radius: 60px;
  background-color: #1d6154;
  border: none;
  color: white;
  font-family: "syne";
}

.formulaire_modal {
  display: flex;
  flex-direction: column;
}

#list_deroulante {
  border: none;
  height: 51px;
  width: 420px;
  /* background-color:  red; */
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding-left: 10px;
  cursor: pointer;
}

.optionCategory {
}

#file {
  display: none;
}

#btnFileImage {
  width: 173px;
  background-color: #cbd6dc;
  border: none;
  border-radius: 50px;
  height: 36px;
  color: #306685;
  font-family: "work sans";
  /* position: absolute; */
  /* margin-top: 20px; */
  cursor: pointer;
}

.uploadContainer {
  background-color: #e8f1f6;
  width: 420px;
  height: 180px;
  position: relative;
  display: flex;
  justify-content: center;
}

.icon-img {
  background-color: transparent;
  color: #b9c5cc;
  /* padding-bottom: 30px; */
}

#imageContainer {
  margin-top: 20px;
}

#imageContainer img {
  max-width: 100%;
  height: auto;
}

.uploadContainer #preview {
  width: 129px;
  height: 180px;
  display: none;
  object-fit:cover ;
}

.blockUpload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 420px;
  row-gap: 10px;
}

.admin {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-2 {
  color: #000000;
  margin-left: 5px;
}

#modifier-mock {
  border: none;
  background-color: white;
  padding-bottom: 20px;
}

.icon-3 {
  color: rgb(0, 0, 0);
  margin-left: 70px;
}

.icon-4 {
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding-left: 45px;
}

.icon-img {
  font-size: 58px;
}


.error-post{
  color: red ;
  padding: 10px 0;
}
